
body {

  background-color: rgb(240, 255, 255);
}

.container {
  margin:auto;
  overflow:hidden;
}

header {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 167, 194);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(17, 75, 95);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: rgb(163, 186, 195);
}


h1 {
 color:rgb(0, 0, 128);
 text-align: center;

}

h2 {
  color: rgb(0, 0, 128)
text-align: center;

}

h3 {
  color: rgb(93, 0, 186) ;
  text-align: center;
}

h4 {
text-align: center;

}

h5 {


}

h6 {


}

p {
  text-align: center;


}
