
body {

  background-color: rgb(241, 224, 255);
}

.container {
  margin:auto;
  overflow:hidden;
}

header {
  display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 38, 38);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: rgb(96, 96, 96);
}


h1 {
 color: navy;
 text-align: center;

}

h2 {


}

h3 {
  color: rgb(93, 0, 186) ;
  text-align: center;
}

h4 {


}

h5 {


}

h6 {


}

p {
  text-align: center;


}
