
body {

  background-color: rgb(241, 224, 255);
}

.container {
  margin:auto;
  overflow:hidden;
}

header {
  display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h1 {
 color: navy;
 margin-left: 600px
}

h2 {


}

h3 {
  color: rgb(93, 0, 186) ;
}

h4 {


}

h5 {


}

h6 {


}

p {


}
